[Desktop Entry]
Name=opengram
Comment=Unofficial Telegram Desktop with Material Design
TryExec=opengram
Exec=opengram -- %U
Icon=xyz.intergod.opengram
Terminal=false
StartupWMClass=opengram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;telegram;opengram
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=opengram -quit
Name=Quit opengram
Icon=application-exit
